/* Existing CSS */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    box-sizing: border-box;
    flex-direction: column;
}

#swup{
    display: grid;
}

#menu {
    background: #3663A0;
    height: 40px;
    border-radius: 15px;
    display: flex;
    width: max-content;
    max-width: 100vw;
}

#menu ul, #menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background: #3663A0;
}

#menu ul {
    width: 100%;
    text-align: center;
}
#menu li {
    display: inline-block;
    position: relative;
}
#menu a {
    display: block;
    line-height: 40px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: capitalize;
}
#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}
#menu li a:hover {
    color: #FFFFFF;
    background: #3BBC2F;
}
#menu input {
    display: none;
    margin: 10px;
    padding: 0;
    height: 40px;
    opacity: 0;
    cursor: pointer
}
#menu label {
    display: none;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 35px
}
#menu label:before {
    font-size: 1.6em;
    color: #FFFFFF;
    content: "\2261"; 
    margin-left: 10px;
}
#menu ul.sub-menus{
    height: auto;
    overflow: hidden;
    width: 100vw;
    background: #3663A0;
    position: absolute;
    z-index: 99;
    display: none;
}
#menu ul.sub-menus li {
    display: block;
    text-align: left;
    width: 100%;
}
#menu ul.sub-menus a {
    color: #FFFFFF;
    font-size: 16px;
}
#menu li:hover ul.sub-menus {
    display: block
}
#menu ul.sub-menus a:hover{
    background: #F2F2F2;
    color: #3663A0;
}

#KMTOMILES {
    width: 100%;
}


@media screen and (max-width: 900px){
    #swup {display: grid;}
    #menu {position:relative;border-radius: 15px; justify-self:center;}
    #menu ul {background:#3663A0;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
    #menu ul.sub-menus {background:#3663A0;width:100%;position:static;}
    #menu ul.sub-menus a {background:#3663A0;padding-left:30px;}
    #menu li {display:block;float:none;width:auto;}
    #menu input, #menu label {top:0;left:0;display:block}
    #menu input {z-index:4}
    #menu input:checked + label {color:#FFFFFF}
    #menu input:checked + label:before {content:"\00d7"}
    #menu input:checked ~ ul {display:block}
    #BG {display: none;}
    #logo { margin-left: 0;}
    #PCB {
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
    }
}

#logo {
    border-radius: 10px;
    height: 40px;
    
}

a {
    color: white;
    display: flex;
    align-items: center;
}

#BG {
    border-radius: 10px;
    height: 40px;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 80vh; /* Max height set to 80% of the viewport height */
    margin-top: 20px; /* Adjusted for navbar height */
    box-sizing: border-box;
    overflow-y: auto; /* Allows scrolling if content exceeds the max height */
}

.container,
.converter-container,
.car-calculator-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 900px;
    box-sizing: border-box;
    display: none; 
    flex-direction: column;
    justify-content: center;
}

.form-container,
.car-calculator-form-container {
    margin-bottom: 20px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem; /* Responsive font size */
}

.form-group .input-container {
    position: relative;
    width: 100%;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    box-sizing: border-box;
    font-size: 1rem; /* Responsive font size */
}

.form-group input[readonly] {
    background-color: #f5f5f5;
}

.spinner-button {
    position: absolute;
    right: 0;
    width: 20px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    user-select: none;
}

.spinner-up {
    top: 0;
    background-color: #4caf82;
    border-radius: 0 4px 0 0;
}

.spinner-down {
    bottom: 0;
    background-color: #af514c;
    border-radius: 0 0 4px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.actions button:hover {
    background-color: #ddd;
}

.actions .save-btn {
    background-color: #4caf50;
    color: white;
}

.actions .cancel-btn {
    background-color: #f44336;
    color: white;
}

.last-entries {
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.last-entries table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.last-entries table,
.last-entries th,
.last-entries td {
    border: 1px solid #ddd;
}

.last-entries th,
.last-entries td {
    padding: 10px;
    text-align: left;
    font-size: 0.9rem;
}

.converter-container {
    color: white;
    background-color: #4fa75c;
    padding: 20px;
    border-radius: 8px;
    display: inline-grid;
    justify-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 20px;
}

.converter-container.initial {
    width: max-content;
}

.converter-container.collapsed {
    width: max-content;
}

.converter-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem; /* Responsive font size */
}

.converter-container .input-container {
    position: relative;
    width: 100%;
}

.converter-container input[type="text"],
.converter-container input[type="number"] {
    background-color: #3663A0;
    font: inherit;
    color: white;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    box-sizing: border-box;
    font-size: 1rem; /* Responsive font size */
}

#milesOutput, #LBSOutput {
    margin: 1rem;
}

.car-calculator-container {
    background-color: #4fa75c;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 20px;
}

.car-calculator-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem; /* Responsive font size */
}

.car-calculator-container .input-container {
    position: relative;
    width: 100%;
}

.car-calculator-container input[type="text"],
.car-calculator-container input[type="number"] {
    background-color: #3663A0;
    font: inherit;
    color: white;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    display: inline-block;
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    box-sizing: border-box;
    font-size: 1rem; /* Responsive font size */
}

::placeholder {
    text-transform: none;
    color: rgb(209, 209, 209);
}

.converter-container .spinner-button,
.car-calculator-container .spinner-button {
    position: absolute;
    right: 0;
    width: 20px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    user-select: none;
}

.converter-container .spinner-up,
.car-calculator-container .spinner-up {
    top: 0;
    background-color: #4caf82;
    border-radius: 0 4px 0 0;
}

.converter-container .spinner-down,
.car-calculator-container .spinner-down {
    bottom: 0;
    background-color: #af514c;
    border-radius: 0 0 4px 0;
}


.KMTOMILES {
    display: inline-flex;
    flex-direction: column;
}

.triangle {
    font-size: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
}
